!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv"=>"Content-Type"}
  %body
    %h1 #{@user.name}
    %p=link_to @user.login, @user.html_url
    %p #{mail_to @user.email}
    %p=link_to "Website", @user.blog
    %table{style: "width='100%'"}
      %tr
        %th Repo Name
        %th Primary Language
        %th Created at
        %th Last Updated
        %th Stars
        %th Forks
      -@repos.each do |repo|
        %tr
          %td=link_to repo.name, repo.html_url
          %td=repo.language
          %td #{time_ago_in_words(repo.created_at)}
          %td #{time_ago_in_words(repo.updated_at)}
          %td=repo.watchers_count
          %td=repo.forks_count
